# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea

# DBS
*.db

# vscode
.vscode


# Public Folder as It will be a copy from React Web Server Build
public
